.table-wrapper {
  padding: 20px;
  background-color: #f3f4f6;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-table {
  width: 100%;
  margin-top: 10px;
}

.button-container {
  text-align: right;
  margin-bottom: 15px;
}

mat-flat-button {
  background-color: #ff4081; /* Color personalizado para el bot칩n */
  color: white;
  font-weight: bold;
}

mat-flat-button:hover {
  background-color: #e91e63; /* Color m치s oscuro al hacer hover */
}

.card-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.stats-card {
  width: 300px; /* Card m치s peque침o */
  padding: 15px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

th, td {
  padding: 10px;
  font-size: 14px;
}

mat-paginator {
  margin-top: 15px;
}

p {
  font-size: 16px;
  margin: 5px 0;
}
