<div class="content">
  <h1>Mejora tu Bienestar con NutriMove</h1>
  <p class="subtitle">
    Saca la mejor versión de ti, con ayuda de NutriMove
  </p>

  <ul class="features">
    <li>Seguimiento Personalizado de Actividades.</li>
    <li>Recomendaciones de Dieta y Ejercicio.
      <ul>
        <li>Gráficos de Progreso Intuitivos.</li>
      </ul>
    </li>
    <li>Planes de Nutrición Adaptativos.</li>
    <li>Motivación y Recordatorios Diarios.</li>
    <li>Comunidad de Apoyo.</li>
    <li>Análisis de Datos Avanzado.</li>
  </ul>
</div>
