.recommendations-container {
  margin: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  position: relative;

}

h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.recommendations-wrapper {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.recommendations-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.recommendations-list::-webkit-scrollbar {
  display: none;
}

.recommendation-card {
  min-width: 300px;
  padding: 20px;
  margin: 0 10px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid rgb(48, 140, 131);
  transition: transform 0.2s, box-shadow 0.2s;
}

.recommendation-card:hover {
  transform: scale(0.87);
  transition-duration: 1s;
  box-shadow: 0 2px 8px rgb(48, 140, 131);
}

mat-card-content {
  text-align: center;
  color: #34495e;
  font-size: 16px;
  line-height: 1.5;
}

.scroll-button {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1;
  padding: 10px;
  font-size: 20px;
  margin: 0 10px;
  height: 40px;
  width: 40px;
}

.scroll-left {
  position: absolute;
  left: 10px;
}

.scroll-right {
  position: absolute;
  right: 10px;
}
