<div class="content">
  <div class="dashboard">
    <h1>{{ 'welcome' | translate }}</h1>
    <p *ngIf="currentUser">{{ 'user' | translate }} {{ currentUser.name }} {{ currentUser.lastname }}</p>

    <div class="spinner-container">
      <div class="spinner-item">
        <mat-progress-spinner
          mode="determinate"
          [value]="progress_hyd"
          [diameter]="100">
        </mat-progress-spinner>
        <div class="spinner-value">
          {{ progress_hyd }}%
        </div>
        <div style="text-align: center; margin-top: 10px;" *ngIf="latestHydrationData">
          {{ latestHydrationData.quantity_ml }} {{ 'out_of' | translate }} 2500 ml {{ 'water_consumed' | translate }}
        </div>
      </div>

      <!-- Gráfica de Calorías -->
      <div class="spinner-item">
        <mat-progress-spinner
          mode="determinate"
          [value]="progress_cal"
          [diameter]="100">
        </mat-progress-spinner>
        <div class="spinner-value">
          {{ progress_cal }}%
        </div>
        <div style="text-align: center; margin-top: 10px;">
          {{ 0 }} {{ 'out_of' | translate }} {{ 0 }} {{ 'calories_consumed' | translate }}
        </div>
      </div>

      <div class="spinner-item">
        <mat-progress-spinner
          mode="determinate"
          [value]="progress_sleep"
          [diameter]="100">
        </mat-progress-spinner>
        <div class="spinner-value">
          {{ progress_sleep }}%
        </div>
        <div style="text-align: center; margin-top: 10px;">
          {{ latestSleepData.hours_slept }} {{ 'out_of' | translate }} {{ this.GOAL_SLEEP }} {{ 'sleep_hours' | translate }}
        </div>
      </div>
    </div>
  </div>
</div>
