<div class="profile-container">
  <h2>{{ 'profile.title' | translate }}</h2>

  <mat-card class="card">
    <mat-card-content>
      <div class="form-group">
        <mat-label>{{ 'profile.name' | translate }}: </mat-label>
        <p>{{currentUser?.name}}  </p>

      </div>
      <div class="form-group">
        <mat-label>{{ 'profile.lastname' | translate }}: </mat-label>
        <p>{{currentUser?.lastname}}  </p>
      </div>

      <div class="form-group">
        <mat-label>{{ 'profile.email' | translate }}: </mat-label>
        <p>{{currentUser?.email}}  </p>
      </div>

      <div class="form-group radio-group">
        <label>{{ 'profile.privacy' | translate }}:</label>
        <div class="radio-options">
          <mat-radio-group [value]="currentUser?.privacy" disabled>
            <mat-radio-button value="public">{{ 'profile.public' | translate }}</mat-radio-button>
            <mat-radio-button value="private">{{ 'profile.private' | translate }}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onEdit()">{{ 'profile.edit' | translate }}</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card">
    <mat-card-content>
      <div class="subscription-container">
        <mat-label>Subscription: </mat-label>
        <p>{{subscription?.description || "None"}}  </p>
        <p>Price: ${{subscription?.price || 0 }}</p>
        <p>Months Left: {{subscription?.monthDuration || "None"}}</p>
        <p *ngIf="subscription?.trial || false">Trial Plan</p>
        <p *ngIf="!subscription?.trial || false">Full Plan</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>

